<%= form_with(model: idea) do |form| %>
  <% if idea.errors.any? %>
 
    <div style="color: red">
      <h2><%= pluralize(idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
        <% idea.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
 <div>
  ユーザ名<br>
  <%= form.collection_select :user_id,users, :id, :name, prompt:"select a User"%>
  </div>

  <div>
    名前<br>
    <%= form.text_field :name %>
  </div>

  <div>
    説明<br>
    <%= form.text_area :description %>
  </div>

  <div>
    画像<br>
    <%= form.file_field :picture %>
  </div>

  <div>
    <%= form.submit "送信" %>
  </div>
  
<% end %>
