<%= form_with(model: idea) do |form| %>
  <% if idea.errors.any? %>
 
    <div style="color: red">
      <h2><%= pluralize(idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
        <% idea.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
 <div>
  <%= form.label :user_id,"User"%>
  <%= form.collection_select :user_id,users, :id, :name, prompt:"select a User"%>
  </div>

  <div>
    <%= form.label :name, "品物名": "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, "説明": "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :picture, "画像": "display: block" %>
    <%= form.file_field :picture %>
  </div>

  <div>
    <%= form.submit "送信" %>
  </div>
  
<% end %>
