<!--<center>
  <%= form_with url: ideas_path, method: :get, local: true do %>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "検索" %>
  <% end %>
</center>-->

<p style="color: green"><%= notice %></p>


<h1>投稿</h1>
<%= link_to "新規投稿", new_idea_path, class: "btn btn-primary mb-3" %>

<div class="list-group w-auto">
  <% @ideas.each do |idea| %>
    <%= render idea %>
  <% end %>
</div>
